<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscripcion hackatón EduTech</title>
  </head>
  <body>
    <h1>Formulario de inscripcion hackaton EduTech</h1>
    <form id="InscriptionForm">
      <label for="name">Apellido y Nombre:</label>
      <input
        type="text"
        id="FullName"
        name="FullName"
        required
        placeholder="Ej: Garcia, Gustavo"
      /><br /><br />
    </form>
  </body>
</html>
