---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import InfoCards from '../components/InfoCards.astro';
import Schedule from '../components/Schedule.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout title="HEM2026 | Hackathon EduTech Mendoza">
	<main>
		<Hero />
		<InfoCards />
		<Schedule />
		<FAQ />
	</main>
</Layout>
