---
export const title = "Saludos";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <h1>¡Hola, Hackatoneros!</h1>
    <p>
      Bienvenidos a la página del hackatón. ¡Esperamos que disfruten y creen
      cosas increíbles!
    </p>
  </body>
</html>
